<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://oa.haikemobile.cn:8402/down/zzyc/zzyc_vpn.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>http://oa.haikemobile.cn:8402/down/zzyc/Default.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>http://oa.haikemobile.cn:8402/down/zzyc/icon2.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.hnmas.zzyc</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>烟草研究院</string>
				<key>title</key>
				<string>烟草研究院</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>

